@import "../../variables.scss";

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background: $themecolorGreen;
  transition: all 0.3s ease;
  color: #fff;
  &:hover {
    filter: brightness(70%);
  }
}
