@import "./variables.scss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.shelter-section {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preamble {
  font-size: 1.2rem;
}
.cat-list {
  box-shadow: $themeBoxShadow;
  width: 100%;
  margin: 1.2rem;
  .cat-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    line-height: 1.5rem;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid $themeBorderColor;
    color: $themecolor;
    &:first-of-type {
      border-radius: $themeBorderRadius $themeBorderRadius 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
    }
    span {
      color: $themecolor;
    }
  }
  button,
  i {
    padding: 5px 6px;
    background: transparent;
  }
  .fa-paw {
    color: $themecolorBlueLight;
  }
  .fa-trash {
    font-size: 0.9rem;
    color: $themecolorRed !important;
  }
  .new-home {
    &:hover {
      filter: brightness(70%);
    }
    color: #b3b3b3;
    cursor: pointer;
    transition: all 0.3s ease;
    &.found {
      color: $themecolorLila;
    }
  }
}

//add cat

.new-cat-form {
  width: 100%;
  > div {
    background-color: #fff;
    border-radius: $themeBorderRadius;
    box-shadow: $themeBoxShadow;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    margin: 0;
    border-bottom: 1px solid $themeBorderColor;
    margin: 1rem 0;
  }
  label {
    width: 100%;
    color: $themecolor;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  input[type="text"] {
    width: 100%;
    padding-right: 0.5rem;
    padding: 0.7rem 0.5rem;
    border: none;
    border-bottom: 1px solid $themeBorderColor;
    font-size: 1rem;
  }
}

.btn-section {
  width: 100%;
  text-align: right;
  button {
    background: $themecolorGreen;
    color: #fff;
  }
}
