$themecolorLila: #2a2966;
$themecolorBlue: #02387e;
$themecolorBlueLight: #1d7dfc;
$themecolorPink: #ff9999;
$themecolorPinkdark: #ff1a1a;

$themeBorderColor: #e0e0e0;
$themecolor: #222;
$themecolorGreen: #15b756;

$themeBorderRadius: 3px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2),
  0 4px 20px 0 rgba(0, 0, 0, 0.19);
